<!DOCTYPE html>
<html>
    <head>
        <title>Industrial Symbiosis</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="/public/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/nav'); %>
        <div class="row">
            <form method="POST" action="/match" class="col s12">
                <div class="combo">
                    <label for="cname">Company Name:</label>
                    <input type="text" id="cname" name="cname">
                </div>
                <div class="combo">
                    <label for="input1">Input 1:</label>
                    <input type="text" id="input1" name="input1">
                    <label for="quant1">Quantity:</label>
                    <input type="number" id="quant1" name="quant1">          
                    <label for="unit1">Unit:</label>
                    <input type="text" id="unit1" name="unit1">
                </div>
                <div class="combo">
                    <label for="output1">Output 1:</label>
                    <input type="text" id="output1" name="output1">
                    <label for="quant2">Quantity:</label>
                    <input type="number" id="quant2" name="quant2">
                    <label for="unit2">Unit:</label>
                    <input type="text" id="unit2" name="unit2">
                </div>
                <div class="combo">
                    <input type="submit" value="Submit" class="btn waves-effect waves-light">
                    <input type="button" value="Clear" class="waves-effect waves-teal btn-flat">
                </div>
            </form>
        </div>
    </body>
</html>
